*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "rubik";
    src: url(Assets/fonts/Rubik-VariableFont_wght.ttf) format("ttf");
}

section{
    margin-bottom: 80px;
}

body{
    background-image:url(back.jpg) ;
}   
    *{
    padding: 0;
    margin: 0;
}
nav{
    background-color: #000;
   left: 0;
   top: 0;
    display: grid;
    grid-template-columns: 30% 70%;
    position: fixed;
    height: 70px;
    width: 100%;
   }
   
   #navlogo{
       width: 126px;
       height: 80px;
       margin-left: 60px;
   }
   
   #navlist{
       display: flex;
       margin-top: 30px;
       margin-left: 400px;
   }
   .nav_a{
    font-family: "rubik", sans-serif;
    color: #FF5C00;
    list-style: none;
    text-decoration: none;
    padding: 30px;
    font-weight: 400;
    font-size: 20px;

}
   .khaoula{
       display: flex;
   }
   .badro{
       margin-left: 100px;
   }
   .left{
       width: 100%;
       height: 900px;

       padding-top: 100px;
   }
   img{
       width: 100%;
       
       
   }
   .right{
    width: 100%;
    height: 500px;
    padding-top: 100px;
}
::placeholder{
    color:gray;
    font-size: 15px;
    font-style: italic;
    padding-left: 12px;
}
.btn{
    background-color: #FF5C00;

}
.inc{
    height: 30px;
    width: 150px;
    margin-top: 30px;
    border: none;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.295);
    border-bottom: 1px solid;
    color: black;
    
}
.in{
    height: 30px;
    width: 310px;
    margin-top: 30px;
    border: none;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.295);
    border-bottom: 1px solid;
    color: black;

}
.message{
    margin-top: 5%;
    border-color: #ccccd3;
    background-color: transparent;
    border: none;
    border-color: rgba(255, 255, 255, 0.295);
    border-bottom: 1px solid;
    color: black;
    font-family: "rubik", sans-serif;

}
.btn{
   border: none;
   margin-top: 30px;
   background-color: #FF5C00;
   margin-left: 30px;
   color: white;
   cursor: pointer;
   border-radius: 5px;
   height: 40px;
   width: 250px;
   font-family: 'Peaches For Breakfast', sans-serif;
   font-size: 30px;
}
h1{
    margin-left: 200px;
    font-size: 50px;
    color: #FF5C00;
    margin-top: 100px;
    font-family: 'Peaches For Breakfast', sans-serif;
   
}
.mar{
    margin-left: 100px;
}
 .dropDownInline {
                      width: 200px;
                      padding: 10px;
                  }
                  input[type=date] {
                    width: 200px;
                    height: 30px;
                    background-color: transparent;
                    border : none ;
                    border-color: rgba(255, 255, 255, 0.295);
                    border-bottom: 1px solid;
                    color: white;
                  }
                  input[type="date"]::-webkit-calendar-picker-indicator {
                        background-image: url();
                }
                  select {
                      width: 100px;
                      height: 30px;
                      border : none ;
                  }
                   input[type=date] , select {
                    border : none ;
                    background-color: none;
                   }






                   /* Footer */


footer{
    margin-top: 80px;
    height: 418px;
    background-color: #000;
    display: flex;
    font-family: "rubik", sans-serif;
    justify-content: space-around;
}

footer ul{
    display:    block;
    flex-direction: column;
    margin-top: 50px;
}

footer li{
    padding: 8px;
    width: fit-content;
}


footer i{
    color: #FF874B;
    margin: 7px;
}


.footer-items{
    color: #fff;
    font-size: 24px;
    list-style: none;
    margin-top: 50px;
}

.footer-title{
    text-decoration: underline #FF874B;
    color: #fff;
    font-family: "rubik", sans-serif;
    font-size: 24px;
    padding: 15px;
    height: fit-content;
    width: fit-content;
    text-align: center;
}
